body{
    background-color: black;
}

header{
    background-color: rgba(255, 255, 255, 0.10);
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 37px;
}

.nav-btn{
    background-color: rgba(230, 83, 60, 1.00);
    color: white;
    font-weight: bold;
    border-radius: 42px;
    padding: 5px 10px;
}

.hamburger{
    display: none;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
}

.fitness{
    color: rgba(230, 83, 60, 1.00);
    font-weight: bolder;
    font-size: x-large;
}

.nav-links a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.banner-title{
    color: white;
    font-weight: 900;
    font-size: 3em;
}

.banner-description{
    color: rgba(255, 255, 255, 0.50);
    padding-top: 10px;
    padding-bottom: 10px;
}

.shape{
    font-family: 'Miama';
}

.join-btn{
    background-color: rgba(230, 83, 60, 1.00);
    color: white;
    font-weight: bold;
    border-radius: 42px;
    padding: 12px 40px;
}

.download-btn{
    background-color: rgba(255, 255, 255, 0.20);
    color: white;
    font-weight: bold;
    border-radius: 42px;
    padding: 12px 40px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.banner-container{
    display: flex;
}

.banner-img{
    position: relative;
    right: -300px;
}

.banner-img img{
    width: 300px;
    height: 450px;
}

.box-1, .box-2{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 90px;
    color: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(1px);
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.box-1 span{
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.box-1{
    top: 150px;
    right: -100px;
}

.box-2{
    top: 300px;
    right: 250px;
}

.box-2-content{
    display: flex;
    flex-direction: column;
}

.box-2-content span{
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.box-2-logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1.00);
    position: absolute;
    left: 15px;
}

.change-your-habits{
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    justify-content: center;
}

.change-your-habits h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.change-your-habits p{
    color: rgba(255, 255, 255, 0.50);
}

.circular-img{
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-img img{
    width: 100%;
}

.movement p{
    color: rgba(255, 255, 255, 0.50);
}

.movement h3{
    color: white;
}

.habits-container{
    display: flex;
    justify-content: space-between;
}

.run-extra-mile{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.50);
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    gap: 100px;
}

.run-description{
    margin-top: 20px;
    margin-left: 20px;
}

.run-description h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.run-description p{
    color: rgba(255, 255, 255, 0.50);
}

.run-img{
    width: 366px;
    height: 312px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.run-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    header{
        padding-left: 5px;
        padding-right: 5px;
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .banner-container{
        flex-direction: column;
    }

    .banner-img{
        position: relative;
        right: -100px;
        width: 300px;
    }

    .box-1{
        top: 150px;
        right: -80px;
    }
    
    .box-2{
        top: 300px;
        right: 150px;
    }

    .habits-container{
        flex-direction: column;
        margin-top: 20px;
    }

    .movement{
        margin-top: 20px;
    }

    .change-your-habits > p{
        margin-top: 10px;
    }

    .run-extra-mile{
        flex-direction: column;
        gap: 0;
    }

    .run-img{
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 20px);
        height: 100%;
    }

    .run-description{
        padding-left: 10px;
        padding-right: 10px;
    }

    .run-description p{
        margin-top: 10px;
    }

    .run-description button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}